build/
testcmd/
/burnit
*.exe
*.db
node_modules/
*.gz

htmx.esm.js
main.min.js

main.css
main.min.css

.env
*.env
env.sh
run.sh

.DS_Store
*.crt
*.key

.terraform
*.terraform*
.tfstate
*.tfstate
*.tfvars
*.plan
*.backup

TODO.md
