{{define "content"}}
      <div class="max-w-lg mx-auto">
        <h2 class="text-gray-300 font-sans font-bold pb-2">Information that is collected</h2>
        <p class="text-gray-300 font-sans text-sm">
          This application does not collect or store any personal information, except for the following:
        </p>
        <ul class="text-gray-300 font-sans text-sm list-disc list-inside pt-4 pl-2">
          <li><b>Source IP Address</b>:</li>
          <ul class="text-gray-300 font-sans text-sm list-disc list-inside pl-4 pt-2">
            <li><b>Logging</b>: To maintain a record of access for operational security.</li>
            <li><b>Rate limiting</b>: To prevent abuse and ensure fair access.</li>
          </ul>
        </ul>
        <p class="text-gray-300 font-sans text-sm pt-4">
          No additional personal data, cookies or trackers are used. Exceptions to this might be due to third-party
          service providers, such as hosting providers. See the section below for more information on data sharing.
        </p>
        <h2 class="text-gray-300 font-sans font-bold pt-4 pb-2">How the information is used</h2>
        <p class="text-gray-300 font-sans text-sm">
          The information collected by the application is for the purposes of:
        </p>
        <ol class="text-gray-300 font-sans text-sm list-inside pt-4 list-decimal pl-3">
          <li><b>Maintaining service security</b>: Protecting the application from misuse.</li>
          <li><b>Operations</b>: Assisting with eventual troubleshooting.</li>
          <li><b>Rate limiting</b>: Ensuring access to the application without interference from excessive or malicious use.</li>
        </ol>
        <h2 class="text-gray-300 font-sans font-bold pt-4 pb-2">Data retention</h2>
        <p class="text-gray-300 font-sans text-sm">
          In the context of the application, IP address logs are only stored for the time necessary to achieve the
          purposes listed above.<br><br>
          In the case of the application being hosted on a third-party service provider, the retention period
          may vary. See the section below for more information on data sharing.
        </p>
        <h2 class="text-gray-300 font-sans font-bold pt-4 pb-2">Data sharing</h2>
        <p class="text-gray-300 font-sans text-sm">
          The application may be hosted on the infrastructure of a third-party service provider. When hosted on such
          infrastructure, logs containing source IP addresses may be stored there. Please note that the specific
          hosting provider and their data handling practices may vary.
        </p>
      </div>
{{end}}
