{{define "content"}}
    <div class="max-w-lg mx-auto">
      <h3 class="text-gray-300 font-sans font-bold pb-2">Information that is collected</h3>
      <p class="text-gray-300 font-sans text-sm">
        This application does not collect or store any personal information, except for the following:
      </p>
      <ul class="text-gray-300 font-sans text-sm list-disc list-inside pt-4 pl-2">
        <li><b>Source IP Address</b>:</li>
        <ul class="text-gray-300 font-sans text-sm list-disc list-inside pl-4 pt-2">
          <li><b>Logging</b>: To maintain a record of access for operational security.</li>
          <li><b>Rate limiting</b>: To prevent abuse and ensure fair access.</li>
        </ul>
      </ul>
      <p class="text-gray-300 font-sans text-sm pt-4">
        No additional personal data, cookies or trackers are used.
      </p>
      <h3 class="text-gray-300 font-sans font-bold pt-4 pb-2">How the information is used</h3>
      <p class="text-gray-300 font-sans text-sm">
        The information collected is used strictly for:
      </p>
      <ol class="text-gray-300 font-sans text-sm list-inside pt-4 list-decimal pl-3">
        <li><b>Maintaining service security</b>: Protecting the application from misuse.</li>
        <li><b>Operations</b>: Assisting with eventual troubleshooting.</li>
        <li><b>Rate limiting</b>: Ensuring access to the application without interference from excessive or malicious use.</li>
      </ol>
      <h3 class="text-gray-300 font-sans font-bold pt-4 pb-2">Data retention</h3>
      <p class="text-gray-300 font-sans text-sm">
        IP address logs are only stored for the time necessary to achieve the purposes listed above. 
      </p>
      <h3 class="text-gray-300 font-sans font-bold pt-4 pb-2">Data sharing</h3>
      <p class="text-gray-300 font-sans text-sm">
        The application is hosted on a third-party service provider. As part of this, logs containing
        source IP addresses may be stored on their infrastructure. These logs are stored only
        for the purposes listed above.<br><br>
      </p>
    </div>
{{end}}
