{{define "secret-get-passphrase"}}
      <div id="secret-result-container">
        <div class="max-w-lg mx-auto pb-4">
          <h2 class="text-center font-sans font-bold text-gray-300 text-xl pb-2">Secret</h2>
        </div>
        <div class="max-w-lg mx-auto">
          <form id="secret-result-form" hx-post="/ui/handlers/secret/get" hx-target="#secret-result-container" hx-swap="innerHTML"
            class="bg-zinc-800 border border-zinc-700 shadow-md rounded px-4 pt-6 pb-6 mb-4 flex flex-col"
          >
            <fieldset>
              <div class="flex justify-center py-2">
                <input id="secret-result-form-passphrase" class="w-3/4 bg-zinc-800 font-sans text-sm text-gray-300 mt-1 p-2 rounded-md border outline-none border-zinc-700 focus:border-zinc-600 focus:ring-1 focus:ring-zinc-600 placeholder-gray-400" type="password"  name="custom-value" placeholder="Passphrase" autocomplete="new-password" minlength="1" required>
              </div>
              <div class="flex justify-center py-2">
                <input class="w-3/4 py-3 px-4 text-gray-300 hover:text-white transition duration-300 ease-in-out font-sans font-semibold bg-red-700 rounded-md focus:outline-none focus:text-white text-center" type="submit" name="submit" value="Enter passphrase">
              </div>
              <div>
                <input type="hidden" name="id" value="{{.Data.ID}}">
                <input type="hidden" name="csrf-token" value="{{.Data.CSRFToken}}">
              </div>
            </fieldset>
          </form>
        </div>
      </div>
{{end}}
