<div id="secret-result-container">
  {{ if gt (len .Value) 0 }}
    <textarea id="secret-result-value" readonly>{{ .Value }}</textarea>
    <button id="copy-secret-result-value" onclick="copyToClipboard('secret-result-value')" >Copy</button>
  {{ else }}
    {{ if and (gt (len .ID) 0) (eq (len .PassphraseHash) 0) }}
      <form hx-post="/ui/handlers/secret/get" hx-target="#secret-result-container" hx-swap="innerHTML" hx-on::after-request="this.reset()">
        <label for="secret-result-form-passphrase">Passphrase</label>
        <input type="password" id="secret-result-form-passphrase" name="passphrase">
        <input type="hidden" name="id" value="{{ .ID }}">
        <input type="submit" name="submit" value="Submit">
      </form>
    {{ end }}
  {{ end}}
  </div>