{{ define "content"}}
    <div id="secret-form-container">
      <div class="max-w-lg mx-auto pb-4">
        <h2 class="text-center font-sans font-bold text-gray-200 text-2xl pb-2">Create a secret</h2>
      </div>
      <div class="max-w-lg mx-auto">
        <form hx-post="/ui/handlers/secret/create" hx-target="#secret-form-container" hx-swap="beforeend" hx-on::after-request="this.reset(); disableElement('secret-form-fields')"
          class="bg-zinc-700 border border-zinc-500 shadow-md rounded px-8 pt-6 pb-8 mb-4"
        >
          <fieldset id="secret-form-fields">
            <div>
              <textarea class="resize-none font-sans text-sm mt-1 p-2 block h-28 w-full rounded-md border outline-none border-zinc-500 focus:border-zinc-300 focus:ring-1 focus:ring-zinc-300" name="value" placeholder="Secret value..."></textarea>
            </div>
            <div class="flex py-2">
              <label for="secret-form-ttl" class="text-sm font-sans text-gray-200 pt-3">Expires in</label>
              <select id="secret-form-ttl" name="ttl" class="w-1/4 bg-white font-sans text-sm mt-1 p-2 rounded-md border outline-none border-zinc-500 focus:border-zinc-300 focus:ring-1 focus:ring-zinc-300 ml-2.5">
                <option value="5m">5 minutes</option>
                <option value="1h">1 hour</option>
                <option value="24h" selected="selected" >1 day</option>
                <option value="72h">3 days</option>
                <option value="168h">7 days</option>
              </select>
              <input class="font-sans text-sm mt-1 p-2 rounded-md border outline-none border-zinc-500 focus:border-zinc-300 focus:ring-1 focus:ring-zinc-300 ml-4 w-1/2 tracking-wider" type="password" name="passphrase" placeholder="(Custom passphrase)">
            </div>
            <div class="pt-2">
              <input class="w-full py-3 px-4 text-gray-200 hover:text-white transition duration-300 ease-in-out font-sans font-semibold bg-red-700 rounded-md focus:outline-none focus:bg-red-500 hover:bg-red-500" type="submit" name="submit" value="Create secret">
            </div>
            <div>
              <input type="hidden" id="secret-form-base-url" name="base-url">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{{ end }}
