{{ define "content" }}
    <div id="secret-links">
      <input type="text" id="secret-full-link" name="secret-full-link" value="{{ .BaseURL }}/ui/secrets/{{ .ID }}/{{ .PassphraseHash}}" readonly>
      <button id="copy-secret-full-link" onclick="copyToClipboard('secret-full-link')" >Copy</button>
      <input type="text" id="secret-partial-link" name="secret-partial-link" value="{{ .BaseURL }}/ui/secrets/{{ .ID }}" readonly>
      <button id="copy-secret-partial-link" onclick="copyToClipboard('secret-partial-link')" >Copy</button>
      <input type="password" id="secret-passphrase" name="secret-passphrase" value="{{ .Passphrase }}" readonly>
      <button id="copy-secret-passphrase" onclick="copyToClipboard('secret-passphrase')" >Copy</button>
      <button onclick="this.closest('div').remove(); enableElement('secret-form-fields')">Close</button>
    </div>
{{ end }}
